<h1>Welcome to Survey Galore</h1>

<div class='container'>
  <button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
  <button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button class="btn btn-info"><a href="/questions">View all question</a></button>
  <button class="btn btn-info"><a href="/surveys">View all surveys</a></button>
</div>
