<h1>Welcome to Survey Galore</h1>

<div class='container'>
  <button><a href="/questions/new">Add new question</a></button>
  <button><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button><a href="/questions">View all question</a></button>
  <button><a href="/surveys">View all surveys</a></button>
</div>
