<h1>Current Questions in Database:</h1>


<% if @questions.any?() %>
  <ul>
    <% @questions.each() do |question| %>
      <li><a href="/questions/<%= question.id() %>"><%= question.description() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no questions added yet</p>

<% end %>

<hr>
<button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
<button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
