<h1>Current Questions in Database:</h1>


<% if @questions.any?() %>
  <ul>
    <% @questions.each() do |question| %>
      <li><a href="/questions/<%= question.id() %>"><%= question.description() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no questions added yet</p>

<% end %>

<hr>
<div class='container'>
  <button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button class="btn btn-info"><a href="/questions">View all question</a></button>
  <button class="btn btn-info"><a href="/surveys">View all surveys</a></button>
</div>
