<h1>Add new question:</h1>

<form action="/questions" method="post">

  <label for="survey_id">Select a Survey</label>
  <select id="survey_id" name="survey_id" type='text' required>
    <% @surveys.each() do |survey| %>
      <option value="<%= survey.id()%>"> <%= survey.name() %> </option>
    <% end %>
  </select>

  <label for="description">Question:</label>
  <input id="description" name="description" type="text">

  <button class="btn btn-warning" type="submit">Add question</button>
</form>

<hr>
<div class='container'>
  <button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button class="btn btn-info"><a href="/questions">View all question</a></button>
  <button class="btn btn-info"><a href="/surveys">View all surveys</a></button>
</div>
