<h1>Current Surveys in Database:</h1>


<% if @surveys.any?() %>
  <ul>
    <% @surveys.each() do |survey| %>
      <li><a href="/surveys/<%= survey.id() %>" id='<% survey.id() %>'><%= survey.name() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no surveys added yet</p>

<% end %>

<hr>
<div class='container'>
  <button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button class="btn btn-info"><a href="/questions">View all question</a></button>
  <button class="btn btn-info"><a href="/surveys">View all surveys</a></button>
</div>
