<h1>Add new survey:</h1>

<form action="/surveys" method="post">
  <label for="name">name</lable>
  <input id="name" name="name" type="test">

  <button type="submit">Add survey</button>
</form>



<div class='container'>
  <button><a href="/questions/new">Add new question</a></button>
  <hr>
  <button><a href="/questions">View all questions</a></button>
  <button><a href="/surveys">View all surveys</a></button>
  <hr>
  <button><a href="/">Home</a></button>
</div>
