<h1>Update <%= @survey.name() %> </h1>

<form action="/surveys/<%= @survey.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Change the name of the survey:</label>
  <input id="name" name="name" type="text">

  <button type="submit"  class="btn btn-warning">Update</button>
</form>
<hr>



<form action="/surveys/<%= @survey.id() %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete</button>
</form>

<hr>
<button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
<button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
