<h1>Add new survey:</h1>

<form action="/surveys" method="post">
  <label for="name">name</lable>
  <input id="name" name="name" type="test">

  <button class="btn btn-warning" type="submit">Add survey</button>
</form>

<hr>
<div class='container'>
  <button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
  <button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
  <hr>
  <button class="btn btn-info"><a href="/questions">View all question</a></button>
  <button class="btn btn-info"><a href="/surveys">View all surveys</a></button>
</div>
