<h1>Add new survey:</h1>

<form action="/surveys" method="post">
  <label for="name">name</lable>
  <input id="name" name="name" type="test" required>

  <button class="btn btn-warning" type="submit">Add survey</button>
</form>

<hr>
<button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
<button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
