<h1>Individual survey page</h1>

<h2><%= @survey.name() %></h2>

<% if @survey.questions().any?() %>
  <h3>Here are all the questions in this survey</h3>

  <ul>
    <% @survey.questions().each() do |question| %>
      <li><%= question.description() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are currently no questions for this survey</p>
<% end %>

<button class="btn btn-warning"><a href="/surveys/<%= @survey.id() %>/edit">Update</a></button>


<hr>
<button class="btn btn-success"><a href="/questions/new">Add new question</a></button>
<button class="btn btn-success"><a href="/surveys/new">Add new survey</a></button>
