body {
  text-align: center;
}
.footer {
  text-align: center;
}

.header {
  text-align: left;
}

.nav {
  text-align: right;
}

ul {
  list-style: none;
}

li {
  font-size: 1.3em;
}

.jumbotron {
  margin-bottom: 1px;
  background-image: url("../img/jumbotron.jpg");
  background-position: 0% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}
